<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spectrum</title>
    <link rel="stylesheet" href="dstyle.css">
    <script src="script1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
     <link rel="shortcut icon" href="images/favicon (2).ico" type="image/x-icon">

</head>
<body>

    <nav id="navbar"  class="topnav">
        <div id="logo">
            <a href="#" class="logoName" ><img src="/images/logo.png" alt="" class="logoimage">Spectrum</a>
            
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i></a>

        <div class="navbar-links">
        <ul>
            <li class="section"><a href="#">Home</a></li>
            <li class="section"><a href="#aboutUs">About Us</a></li>
            <li class="section"><a href="#project-heading">Projects</a></li>
            <li class="section"><a href="#fcontact">Contact Us</a></li>
            <li class="section"><a href="#">Profile</a></li>
            <li class="section"><a href="#">Sign out</a></li>

        </ul>
       
          </a>
        </div>
    </nav>
    <section id="home">
        <div class="poster">

        </div>
    </section>
     <div class="about-section" id="aboutUs">
        <div class="inner-container">
            <h1>About us</h1>
            <p class="text">
                SPECTRUM ,Technical society of COLLEGE OF ENGINEERING AND TECHNOLOGY, BHUBANESWAR,a place for all technical enthusiasts to learn, discover and innovate new things in the field of Technology and Design. The name of the club " SPECTRUM ", a contribution of our alumni of 2015 batch, is particularly used to describe the characteristic colors of visible light after passing through a prism, similarly students of CET consist of different skills within them and Spectrum acts like a prism, Spectrum recognises their skills helps them to strengthen it.
            </p>
            
        </div>
        </div>
        <h1 id="wingshead">WINGS</h1>
        <section class="wings">
            
             <div class="wcards">
                 <div class="wimage" style="background: url(./images/hardware1.jpg);">
                     <!-- <img src="" alt=""> -->
                   <h1>HARDWARE</h1>
                 </div>
                 <div class="wtext">
                     <p>VLSI</p>
                     <hr>
                     <p>EMBEDDED SYSTEM</p>
                     <hr>
                     <p>PCB DESIGN</p>
                 </div>
            </div>
             <div class="wcards">
                 <div class="wimage" style="background: url(./images/software.jpg);">
                   <h1>SOFTWARE</h1>
                 </div>
                 <div class="wtext">
                     <p>COMPETITIVE PROGRAMMING</p><hr>
                     <p>WEB DEVELOPMENT</p><hr>
                     <p>APP DEVELOLPMENT</p><hr>
                     <p>MACHINE LEARNING</p>
                 </div>
            </div>
             <div class="wcards">
                 <div class="wimage" style="background: url(./images/design2.jpg) no-repeat; background-size: 100% 100%;">
                   <h1>DESIGN</h1>
                 </div>
                 <div class="wtext">
                     <p>UI/UX DESIGNING</p><hr>
                     <p>POSTER DESIGNING</p>
                     
                 </div>
            </div>
         
        </section>


        <h1 id="project-heading">PROJECTS</h1>
         <div class="container">
             
             <div class="card">
                 <div class="img">
                     <img src="images/blind.jpg" alt="blind image" srcset="">
                     </div>
                   <div class="top-text">
                       <div class="name">Bhaavna</div>
                      
                   </div>
                   <div class="bottomtext">
                       <div class="text">device helps physically imapired people to understand the emotions of the person they are talking to</div>
                       <div class="btn">
                           <a href="#">Github Link</a>
                       </div>
                    </div>
                </div>
             
             <div class="card">
                 <div class="img">
                     <img src="images/toilet.jpg" alt="smart toilet" srcset="">
                     </div>
                   <div class="top-text">
                       <div class="name">SMART TOILET </div>
                       
                   </div>
                   <div class="bottomtext">
                       <div class="text">
                        A semi automated toilet that is designed for the elderly people and the patients. This toilet helps them defecate and urinate with ease and reduces the filthy labour for the hospital authorities.  
                       </div>
                       <div class="btn">
                           <a href="#">Github Link</a>
                       </div>
                    </div>
                </div>



             <div class="card">
                 <div class="img">
                     <img src="images/bot.jpg" alt="BOT image" srcset="">
                     </div>
                   <div class="top-text">
                       <div class="name">SUPPLY BOT</div>
             
                   </div>
                   <div class="bottomtext">
                       <div class="text">
                        Robots help to deliver food and medicine aid in flood scenarios to the affected people in remote areas. Semi finalist at IIT bombay, Eyantra competition 2019-20.

                       </div>
                       <div class="btn">
                           <a href="#">Github Link</a>
                       </div>
                    </div>
                </div>

         </div>
         <div class="container">
             
             <div class="card">
                 <div class="img">
                     <img src="images/radar.jpg" alt="radar" srcset="">
                     </div>
                   <div class="top-text">
                       <div class="name">Ultrasonic Radar Based Horn System</div>
                     
                   </div>
                   <div class="bottomtext">
                       <div class="text">It is a noiseless horn system for the vehicles to communicate with each other using ultrasonic waves.</div>
                       <div class="btn">
                           <a href="#">Github Link</a>
                       </div>
                    </div>
                </div>
             
             <div class="card">
                 <div class="img">
                     <img src="images/medico.jpg" alt="medico" srcset="">
                     </div>
                   <div class="top-text">
                       <div class="name">FRIENDLY-MEDICO</div>
                 
                   </div>
                   <div class="bottomtext">
                       <div class="text">
                        In this pandemic not everyone of us have the courage to go to hospitals and check our own reports.this app will take some short details and keep it in a database.  
                       </div>
                       <div class="btn">
                           <a href="https://github.com/Ashishkumarpanda/FRIENDLY-MEDICO">Github Link</a>
                       </div>
                    </div>
                </div>



             <div class="card">
                 <div class="img">
                     <img src="images/textsummary.jpg" alt="text summary" srcset="">
                     </div>
                   <div class="top-text">
                       <div class="name">Extractive-Text-Summarization</div>
                      
                   </div>
                   <div class="bottomtext">
                       <div class="text">
                        A simple python program which can find the most important sentences in a paragraph and can give them as the output. Quite useful for the tasks of reading short summaries of news articles and such.

                       </div>
                       <div class="btn">
                           <a href="https://github.com/C3Suryansu/Extractive-Text-Summarization">Github Link</a>
                       </div>
                    </div>
                </div>

         </div>


 <footer id="fcontact">
    <div class="fcontainer">
        <div class="sec faboutus">
            <h2>About us</h2>
            <p>
                SPECTRUM a place for all technical enthusiasts to learn, discover and innovate new things in the field of Technology and Design.
            </p>
            <ul class="sci">
                <li><a href="https://www.facebook.com/spCETrum"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://github.com/Spectrum-CETB"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.instagram.com/spectrum.cetb/?hl=en"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/authwall?trk=gf&trkInfo=AQEuyqZ5wnJhhgAAAXpYtV4YTbUXQc2ZR2wqM1vMSRDwBk13amzJdRsn96Cm--aywmxq248mqmek8Ewe3QY0zvoOEyiCLum2WhkMulHvpwi41NdNs50rl7bY7hnR5QdCdO-6u7A=&originalReferer=https://www.spectrumcet.com/&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fspectrum-cet-3b71431b1%2F"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="sec quicklinks">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#aboutUs">About us</a></li>
                <li><a href="#project-heading">Projects</a></li>
                <li><a href="#fcontact">Contact Us</a></li>
            </ul>
        </div>
        <div class="sec contact">
            <h2>Contact Info</h2>
            <ul class="info">
                <li>
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    <span>
                        College Of Engineering And Technology, Ghatikia, Bhubaneswar - 751003
                    </span>
                </li>
                <li>
                    <span><i class="fa fa fa-phone" aria-hidden="true"></i></span>
                   <p><a href="tel:8249063374">+91-8249063374</a></p>
                </li>
                <li>
                    <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <p><a href="mailto:spectrumclub.cetb@gmail.com">spectrumclub.cetb@gmail.com</a></p>
                </li>
            </ul>
        </div>

    </div>
</footer> 
<div class="copyright">
    <p>Copyright © 2021 All rights reserved.</p>
</div>     




    
</body>
</html>